div#calendar_suggestions {
	width: 100%;
}

/* Loading gif */
div#calendar_suggestions > img {
	margin: 0 459px;
}
/* ------------------ */
div#calendar_suggestions div.id {
	display: none;
}

div#calendar_suggestions div.sugg_set {
	font-family: Futura;
	di splay: inline;
	fl oat: right;
}

	#sugg_nav {
		margin: 0 auto 20px auto;
		wi dth: 195px;
		text-align: center;
	}
	
	#sugg_nav a {
		display: inline-block;
		font-family: Futura;
		font-size      : 20px;
		text-align     : center;
		text-decoration: none;
		text-transform: uppercase;
		line-height    : 35px;
		height         : 35px;
		margin: 0 2px 0 2px;
		padding: 0 5px 0 5px;
		background: #247da2;
		color: #fff;
	}
	
	#sugg_nav a.selected {
		background: #247da2;
	}
	
	#sugg_nav a.unselected {
		background: #333;
	}
	
	div#calendar_suggestions div.alter_set {
		width: 960px;
		margin-bottom: 10px;
		border: 0px solid #222;
		clear: both;
		float: left;
		position: relative;
	}
		
		div#calendar_suggestions div.selected, div#calendar_suggestions div.unselected {
			float: left;
			margin-left: 5px;
		}
		
		div#calendar_suggestions div.selected div.remove div.alter_back_strip {
			background-color: #cc0000;
		}
		
		div#calendar_suggestions div.unselected div.remove div.alter_back_strip {
			background-color: #440000;
		}
		
		div#calendar_suggestions div.selected div.newevent div.alter_back_strip {
			background-color: #00cc00;
		}
		
		div#calendar_suggestions div.unselected div.newevent div.alter_back_strip {
			background-color: #004400;
		}
		
		div#calendar_suggestions div.selected div.reschedule div.alter_back_strip {
			background-colo